.formato {
    font-family: 'C059', serif;
    font-size: 40px;
    font-weight: bold;
    color: #305c38;

    text-shadow:
        -2px -2px 0 #e03b00,
         0px -2px 0 #e03b00,
         2px -2px 0 #e03b00,
        -2px  0px 0 #e03b00,
         2px  0px 0 #e03b00,
        -2px  2px 0 #e03b00,
         0px  2px 0 #e03b00,
         2px  2px 0 #e03b00,
        -1px -1px 0 #e03b00,
         1px -1px 0 #e03b00,
        -1px  1px 0 #e03b00,
         1px  1px 0 #e03b00;
}

.marcador {
    font-family: 'C059', serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
